{% extends "layout_unauth.html" %}
{% load static %}

{% block title %}
	{% if validlink %}
		Введите новый пароль
	{% else %}
		Ошибка восстановления пароля
	{% endif %}
{% endblock %}
{% block content %}
<div class="breadcrumbs">
	<a href="/">Начало</a> › Подтверждение восстановления пароля
</div>

<!-- Content -->
<div id="content" class="colM">
	{% if validlink %}
		<h1>Введите новый пароль</h1>
		<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
		<form action="" method="post">
			{{ form.non_field.errors }}
			<div style="display:none">
				<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			</div>
				{{ form.new_password1.errors }}
				<p class="aligned wide"><label for="id_new_password1">Новый пароль:</label><input id="id_new_password1" name="new_password1" type="password"></p>

				{{ form.new_password2.errors }}
				<p class="aligned wide"><label for="id_new_password2">Подтвердите пароль:</label><input id="id_new_password2" name="new_password2" type="password"></p>
				<p><input type="submit" value="Изменить мой пароль"></p>
		</form>
	{% else %}
		<h1>Ошибка восстановления пароля</h1>
		<p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</p>
	{% endif %}
</div>
{% endblock %}
