<div class="table-responsive">
	<table class="pure-table pure-table-bordered center_table" >
		<caption>Таблица ваших прогнозов</caption>

		<thead>
			<tr>
				<th>Этап</th>
				<th>Матч</th>
				<th>Время матча</th>
				<th>Прогноз</th>
			</tr>
		</thead>

		<tbody>
		{% for mig in match_info_guesses %}
		<tr>
			<td>{{mig.stage}}</td>
			<td id="mg_{{mig.match.id}}">
			{% if mig.match.command_1.flag %}
				<img src="{{mig.match.command_1.flag.url}}"> 
			{% endif %}

			{{mig.match.command_1.name}} - {{mig.match.command_2.name}} 

			{% if mig.match.command_2.flag %} 
				<img src="{{mig.match.command_2.flag.url}}"> 
			{% endif %}<br/>
			</td>

			<td>
			{{mig.match.time|date:"o-m-d"}} <br/> {{mig.match.time|date:"(l)"}} <br/> {{mig.match.time|date:"H:i:s"}} <br/> 
			</td>

			<td>
				<form id="{{mig.match.id}}" action="{% url 'gambling:predict' match_pk=mig.match.id %}" method="post">
					{% csrf_token %}
					<select class="form-select-sm" name="result1" required {% if not mig.enabled %}disabled{% endif %}>
						{% if mig.guess %}
						<option value=""></option>
							{% for score_choise in score_choices %}
								{% if mig.guess.guess_score_1 == score_choise %}
									<option value="{{score_choise}}" selected>{{score_choise}}</option>
								{% else %}
									<option value="{{score_choise}}">{{score_choise}}</option>
								{% endif%}
							{% endfor %}
						{% else %}
							<option value=""></option>
							{% for score_choise in score_choices %}
								<option value="{{score_choise}}">{{score_choise}}</option>
							{% endfor %}
						{% endif %}
					</select>
					:
					<select class="form-select-sm" name="result2" required {% if not mig.enabled %}disabled{% endif %}>
						{% if mig.guess %}
						<option value=""></option>
							{% for score_choise in score_choices %}
								{% if mig.guess.guess_score_2 == score_choise %}
									<option value="{{score_choise}}" selected>{{score_choise}}</option>
								{% else %}
									<option value="{{score_choise}}">{{score_choise}}</option>
								{% endif%}
							{% endfor %}
						{% else %}
							<option value=""></option>
							{% for score_choise in score_choices %}
							<option value="{{score_choise}}">{{score_choise}}</option>
							{% endfor %}
						{% endif %}
					</select>

					<br/><br/>
					{% if mig.enabled %}
						{% if mig.guess %}
					<input class="btn btn-light" type="submit" name="action_{{mig.match.id}}" value="Изменить"/>
						{% else %}
					<input class="btn btn-light" type="submit" name="action_{{mig.match.id}}" value="Добавить"/>
						{% endif %}
					{% endif %}
				</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
