{% extends "includes/layout.html" %}

{% block title %}Мои ставки{% endblock %}

{% block navbar %} {% include "includes/navbar.html" with active_tab='gambling' %} {% endblock %}

{% block h1 %}<h1>Мои ставки</h1>{% endblock %}

{% block content %}

<br/>

{% if error %}
	<span style="font-size:20px; color:Red;">Матч уже начался, изменение ставки невозможно!</span>
	<br/>
	<br/>
{% endif %}

<div class="accordion" aria-multiselectable="true" id="myaccordion">
	<div class="accordion-item">
		<div class="accordion-header">
			<h3 class="mb-0">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#future_mathes">Предстоящие матчи</button>
			</h3>
		</div>
		<div id="future_mathes" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-parent="#myaccordion">
			<div class="accordion-body">
				{% include 'gambling/includes/future_matches_table.html' %}
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<div class="accordion-header">
			<h3 class="mb-0">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#past_mathes">Прошедшие матчи</button>
			</h3>
		</div>
		<div id="past_mathes" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-parent="#myaccordion">
			<div class="accordion-body">
				{% include 'gambling/includes/past_matches_table.html' %}
			</div>
		</div>
	</div>
	<br/>
</div>

{% endblock %}
