<table class="playoff" border="0" cellpadding="0" cellspacing="0" style="font-size: 90%; margin:1em 2em 1em 1em;">
<tbody><tr>
<td height="5">
</td>
<td align="center" colspan="2" style="border:1px solid #aaa;" bgcolor="#f2f2f2">1/8 финала
</td>
<td colspan="2">
</td>
<td align="center" colspan="2" style="border:1px solid #aaa;" bgcolor="#f2f2f2">Четвертьфиналы
</td>
<td colspan="2">
</td>
<td align="center" colspan="2" style="border:1px solid #aaa;" bgcolor="#f2f2f2">Полуфиналы
</td>
<td colspan="2">
</td>
<td align="center" colspan="2" style="border:1px solid #aaa;" bgcolor="gold">Финал
</td></tr>
<tr>
<td height="5">
</td>
<td style="width:15em;">&nbsp;
</td>
<td width="30">&nbsp;
</td>
<td width="15">&nbsp;
</td>
<td width="20">&nbsp;
</td>
<td style="width:15em;">&nbsp;
</td>
<td width="30">&nbsp;
</td>
<td width="15">&nbsp;
</td>
<td width="20">&nbsp;
</td>
<td style="width:15em;">&nbsp;
</td>
<td width="30">&nbsp;
</td>
<td width="15">&nbsp;
</td>
<td width="20">&nbsp;
</td>
<td style="width:15em;">&nbsp;
</td>
<td width="30">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">30 июня – <a href="/wiki/%D0%A4%D0%B8%D1%88%D1%82_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Фишт (стадион)">Сочи</a>
</td>
<td rowspan="4" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="7" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td colspan="2" rowspan="3">
</td>
<td rowspan="7" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="13" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td colspan="2" rowspan="9">
</td>
<td rowspan="13" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="25" style="border-width:0 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td colspan="2" rowspan="21">
</td></tr>
<tr>
<td height="5">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы A
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">6 июля – <a href="/wiki/%D0%9D%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%9D%D0%BE%D0%B2%D0%B3%D0%BE%D1%80%D0%BE%D0%B4_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" class="mw-redirect" title="Нижний Новгород (стадион)">Нижний Новгород</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы B
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №49
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">30 июня – <a href="/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Казань Арена">Казань</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="12" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №50
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="12" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы C
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="6">
</td>
<td colspan="2" rowspan="2">10 июля – <a href="/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Санкт-Петербург (стадион)">Санкт-Петербург</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы D
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №57
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">2 июля – <a href="/wiki/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Самара Арена">Самара</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="24" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №58
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="24" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы E
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">6 июля – <a href="/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Казань Арена">Казань</a>
</td>
<td colspan="2" rowspan="18">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы F
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №53
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">2 июля – <a href="/wiki/%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Ростов Арена">Ростов-на-Дону</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="12" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №54
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="12" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы G
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="6">
</td>
<td colspan="2" rowspan="2">15 июля – <a href="/wiki/%D0%9B%D1%83%D0%B6%D0%BD%D0%B8%D0%BA%D0%B8_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Лужники (стадион)">Москва (Лужники)</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы H
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №61
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">1 июля – <a href="/wiki/%D0%9B%D1%83%D0%B6%D0%BD%D0%B8%D0%BA%D0%B8_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Лужники (стадион)">Москва (Лужники)</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="23" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №62
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы B
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">7 июля – <a href="/wiki/%D0%A4%D0%B8%D1%88%D1%82_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Фишт (стадион)">Сочи</a>
</td>
<td colspan="2" rowspan="10">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы A
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №51
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">1 июля – <a href="/wiki/%D0%9D%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%9D%D0%BE%D0%B2%D0%B3%D0%BE%D1%80%D0%BE%D0%B4_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" class="mw-redirect" title="Нижний Новгород (стадион)">Нижний Новгород</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="12" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №52
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="12" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы D
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="6">
</td>
<td colspan="2" rowspan="2">11 июля – <a href="/wiki/%D0%9B%D1%83%D0%B6%D0%BD%D0%B8%D0%BA%D0%B8_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Лужники (стадион)">Москва (Лужники)</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы C
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 0 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №59
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">3 июля – <a href="/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Санкт-Петербург (стадион)">Санкт-Петербург</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="11" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №60
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="11" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td colspan="2" rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#CC9966">Третье место
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы F
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">7 июля – <a href="/wiki/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Самара Арена">Самара</a>
</td>
<td colspan="2" rowspan="9">
</td>
<td colspan="2" rowspan="2">14 июля – <a href="/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3_(%D1%81%D1%82%D0%B0%D0%B4%D0%B8%D0%BE%D0%BD)" title="Санкт-Петербург (стадион)">Санкт-Петербург</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы E
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="6" style="border-width:2px 3px 1px 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №55
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Проигравший в матче №61
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="2">3 июля – <a href="/wiki/%D0%9E%D1%82%D0%BA%D1%80%D1%8B%D1%82%D0%B8%D0%B5_%D0%90%D1%80%D0%B5%D0%BD%D0%B0" title="Открытие Арена">Москва (Спартак)</a>
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="5" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Победитель матча №56
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="5" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; Проигравший в матче №62
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 1-е место группы H
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td></tr>
<tr>
<td height="5">
</td>
<td colspan="2" rowspan="3">
</td>
<td colspan="2" rowspan="3">
</td></tr>
<tr>
<td height="5">
</td>
<td rowspan="2" style="border:1px solid #aaa;" bgcolor="#f9f9f9">&nbsp; 2-е место группы G
</td>
<td rowspan="2" align="center" style="border:1px solid #aaa;" bgcolor="#f9f9f9">
</td>
<td rowspan="2" style="border-width:2px 0 0 0; border-style: solid;border-color:black;">&nbsp;
</td></tr>
<tr>
<td height="5">
</td></tr></tbody></table>

<style>


table.playoff {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: grey;
}

</style>