{% extends "includes/layout.html" %}
{% load static %}
{% block title %}Тотализатор по чемпионату мира по футболу 2022{% endblock %}

{% block navbar %} {% include "includes/navbar.html" with active_tab='home' %} {% endblock %}

{% block h1 %}<h1>Тотализатор по чемпионату мира по футболу 2022</h1>{% endblock %}

{% block content %}

<br/>
<div class="row row-content">
	<div class="col-12">
		<div class="d-flex justify-content-center">
		<img src="{% static '2022_FIFA_World_Cup.svg.png' %}" class="img-responsive img-rounded" style="width:50%; " alt="cup_logo">
		</div>
	</div>
</div>

<br/>
<h1>Регламент соревнования</h1>
<ul>
	<li>1 очко за угаданного победителя матча</li>
	<li>1 очко за угаданную разницу мячей в матче</li>
	<li>1 очко за угаданный точный счёт</li>
</ul>
Для матчей плей-офф результаты определяются по основному времени матча

<h1>Результаты прошлых соревнований</h1>
<div class="row row-content">
		<div class="col-12 col-sm-6 col-md-3">
			<a href="https://world-champ-2014.appspot.com/" class="text-decoration-none"><h3 style="text-align:center">Чемпионат мира 2014</h3> <br/> <img src="{% static 'WC-2014-Brasil.svg' %}" class="img-responsive img-rounded img_height" style="width:85%;" alt="cup_logo"></a>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<a href="https://euro-champ-2016.herokuapp.com/results/" class="text-decoration-none"><h3 style="text-align:center">Чемпионат Европы 2016</h3>  <br/> <img src="{% static 'Logo_UEFA_Euro_2016.png' %}" class="img-responsive img-rounded img_height" style="width:75%;" alt="cup_logo"> </a>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<a href="https://world-champ-2018.herokuapp.com/results/" class="text-decoration-none"><h3 style="text-align:center">Чемпионат мира 2018</h3>  <br/> <img src="{% static '928px-2018_FIFA_World_Cup.svg_.png' %}" class="img-responsive img-rounded img_height" style="width:100%;" alt="cup_logo"> </a>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<a href="https://euro-champ-2020.herokuapp.com/results/" class="text-decoration-none"><h3 style="text-align:center">Чемпионат Европы 2020</h3>  <br/> <img src="{% static 'UEFA_Euro_2020_Logo.png' %}" class="img-responsive img-rounded img_height" style="width:90%;" alt="cup_logo"> </a>
		</div>
</div>
<br/>
<br/>
{% endblock %}
